.search_div {
    // padding: 0 10vw;
    // height: calc(100vh - 3.5vw);
    // overflow: auto;
    // background: red;

    // ::-webkit-scrollbar {
    //     width: 5px;
    //     /* 纵向滚动条的宽度 */
    //     height: 3px !important;
    //     /* 横向滚动条的高度 */
    // }

    // /* 滚动条的轨道 */
    // ::-webkit-scrollbar-track {
    //     background: #f1f1f1;
    //     /* 轨道的背景颜色 */
    //     border-radius: 3px;
    //     /* 轨道的圆角 */
    // }

    // /* 滚动条的滑块 */
    // ::-webkit-scrollbar-thumb {
    //     background: #DDDFEB;
    //     /* 滑块的背景颜色 */
    //     border-radius: 3px;
    //     /* 滑块的圆角 */

    // }

    // /* 滑块在悬停时的颜色 */
    // ::-webkit-scrollbar-thumb:hover {
    //     background: #DDDFEB;
    //     cursor: pointer;
    // }


    .search_header {
        padding: 2vw 0;

        :global(.ant-select-selector) {
            width: 7vw;
        }

        .search_header_from {
            display: flex;
            height: 5vh;
            border: 1px solid #aec4f7;
            border-radius: 1vh;
            padding: 1vh;
            background: #fff;
            align-items: center;

            input {
                font-size: 2vh;
                flex: 1;
                outline: none;
                background: none;
            }
        }
    }

    // 分类
    .search_class {
        border: #ccc 1px solid;
        border-radius: 1vh;
        // height: 5vw;
        background: #fff;

        .search_class_title {
            display: flex;
            align-items: center;

            i {
                display: inline-block;
                width: 2.5px;
                height: 1.6vh;
                background: #3570F8;
                color: #3570F8;
                margin-right: 1vh;
            }

            padding: 1vh 1vw;
        }

        .search_class_list {
            padding: 0 1vw 1vh 1.5vw;

            .search_class_list_item {
                cursor: pointer;
                margin: 0 1vh;
            }
        }

        .search_class_list_item_active {
            color: #3570F8;
            margin: 0 1vh;
            cursor: pointer;
        }

        .search_class_level {
            padding: 0 1vw 1vh 1.5vw;
            cursor: pointer;

            .search_class_lever_item {
                margin: 0 1vh;
            }
        }
    }

    // 内容区
    .search_content {
        display: flex;
        flex-wrap: wrap;

        .search_content_item_active {
            margin-top: 1vw;
            width: calc((100% - 4vw) /5);
            background: #c6dcf9;
            border-radius: 1vh;
            border: #ccc solid 1px;
            margin-right: 1vw;
            padding: 2vh 1vw;
            cursor: pointer;
            position: relative;
            color: #999;
        }

        .search_content_item_active:nth-child(5n) {
            margin-right: 0;
        }

        .search_content_item {
            margin-top: 1vw;
            width: calc((100% - 4vw) /5);
            background: #fff;
            border-radius: 1vh;
            border: #ccc solid 1px;
            margin-right: 1vw;
            padding: 2vh 1vw;
            cursor: pointer;
            position: relative;
            color: #999;



            .search_content_item_title {
                font-size: 1vw;
                // font-weight: 550;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                /* 显示3行文本 */
                overflow: hidden;
                text-overflow: ellipsis;
            }


        }

        .search_content_item_text {
            // font-size: 1vw;
            color: #999;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .search_content_item_icon {
            background: #fff;
            position: absolute;
            bottom: 0vh;
            padding: .2vh;
            right: 0vh;
            color: #999;
            font-size: .8vw;
            border-radius: 1vh 0 .9vh 0;
        }


        .search_content_item:nth-child(5n) {
            margin-right: 0;
        }
    }

    // 分页
    .search_pagination {
        padding: 2vw 0;
    }

    // 弹窗的内容
    .search_modal {
        padding: 1vw 0;
        border: 1px solid #ccc;
        border-radius: 1vh;
    }
}



.fileModal {
    // background: pink;
    height: 30vw;
    overflow: auto;
    /* 整个滚动条的宽度 */

    &::-webkit-scrollbar {
        width: 5px;
        /* 纵向滚动条的宽度 */
        height: 3px !important;
        /* 横向滚动条的高度 */
    }

    /* 滚动条的轨道 */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        /* 轨道的背景颜色 */
        border-radius: 3px;
        /* 轨道的圆角 */
    }

    /* 滚动条的滑块 */
    &::-webkit-scrollbar-thumb {
        background: #DDDFEB;
        /* 滑块的背景颜色 */
        border-radius: 3px;
        /* 滑块的圆角 */

    }

    /* 滑块在悬停时的颜色 */
    &::-webkit-scrollbar-thumb:hover {
        background: #DDDFEB;
        cursor: pointer;
    }


}



.textModalBtn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 1.5vw;
}

.textModalTitle {
    display: flex;
    // align-items: center;
    margin-bottom: 1vw;
    div {
        width: 3.5vw;
        font-weight: 600;
    }

    input {
        // flex: 1;
    
    }
}

// 我的素材内容区
.search_my_content {
    display: flex;
    flex-wrap: wrap;



    .search_my_card_title {
        border: #fff 1px solid;
        padding: 0.5vh 1vh;
        border-radius: 1vh;
        outline: none;
        width: 100%;
    }

    .search_my_card_title_active {
        border: #3570F8 1px solid;
        width: 100%;
        padding: 0.5vh 1vh;
        border-radius: 1vh;
        outline: none;
    }

    .search_my_card {
        width: calc((100% - 8vw) / 5);
        background: #fff;
        border-radius: 1vh;
        border: #ccc solid 1px;
        margin-right: 2vw;
        padding: 2vh 1vw;
        cursor: pointer;
        position: relative;
        color: #999;
        margin-bottom: 1vw;


        :global(.ant-card-actions>li) {
            margin: 0;
        }

        :global(.ant-card-body) {
            padding: 1vh 0;
        }
    }



    .search_my_card:nth-child(5n) {
        margin-right: 0;
    }
}